<h1>Likes</h1>

<ul>
  <% @tweet.likes.each do |like| %>
    <li>@<%= like.user.handle %>
    <%= button_to "Remove", tweet_like_path(@tweet, like), method: :delete, form: {style: 'display:inline-block;'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", tweets_path %> 
