<h1>@<%= @user.handle %> Following</h1>

<ul>
  <% @follow.each do |follow| %>
    <li>@<%= follow.user.handle %>
    <%= button_to "Remove", user_follow_path(@user, follow), method: :delete, form: {style: 'display:inline-block;'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", user_path(@user) %> 
