<h1>@<%= @user.handle %> Followers</h1>

<ul>
  <% @followers.each do |follower| %>
    <li>@<%= follower.handle %>
    <%= button_to "Remove", user_follow_path(@user, follower), method: :delete, form: {style: 'display:inline-block;'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", users_path(@user) %> 
